.box {
    height: 150px;
    width: 150px;
    background-color: crimson;
    border: 2px solid black;
    margin: 5px;
    text-align: center;
}

.paraClass1 {
    color: crimson;
}

.paraClass2 {
    background-color: bisque;
}